<%-include('./include/head.ejs')%>
</head>

<html>
<body>
    <div> 
        <h1>hello from hom page</h1> 
        <a href="/upload-file">upload file</a>
    </div>


<%-include('./include/footer.ejs')%>
