include('./include/head.ejs');
</head>

<boody>
    '<form action="/upload-file" method="post" enctype="multipart/form-data"> <input type="file" name="file"/><button type="submit">Upload</button></form>')


include('./include/footer.ejs');



